

.div__searcher{
    display:flex;
    flex-direction: column;
    
   
    &__div{
        margin: 1em;
        display: flex;
        flex-direction: row;
        width: calc(21%);
        
       
        &__img{
           width: 300px;
           height: 350px;
           margin: 2%;
           object-fit: cover;
           display: flex;
           flex-wrap: nowrap;
           transition: transform 0.3s;
           &:hover {
               transform: scale(1.2);
           }
        }
        &__title{
            color:white
        }
    }
}
.div__imgs{
    display:flex;
    flex-direction: row;
    max-width: 100%;
}
.section__results{
    display:flex;
    flex-direction: column;
}
.box{
    position: relative; 
    padding-bottom: 1%;
    &__search{
         
        &__input{
            padding: 10px;
            width: 80px;
            height: 40px;
            background: none;
            border: 4px solid #02ffa1;
            border-radius: 50px;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;;
            font-size: 22px;
            color: #02ffa1;
            outline: none;
            transition: .5s;
        }
    }
}

.box:hover input{
    width: 250px;
    background: #3b3640;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #02ffa1;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
.section__detail__div__button__watch1{
    margin-bottom: 2%;
}