
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    justify-items:center;
}
.section__wrapper{
    background-color: red;
    display:flex;
    justify-content: center;
    margin: 0 auto;

    &__div{
        background-color: pink;
        display:flex;
        gap: 1em;
        padding-inline-start: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        
        padding: 1%;
    &__img{
        width: 300px;
        height: 400px;
        
    }
        &__title{
         display:flex;
         flex-wrap: wrap;
         background-color: aqua;
        }
}

}