/* -- START SINGLEFILMCOMPONENT STYLES -- */
.section__detail{
 display:flex;
//  position: relative;

 &__div{

    // background-color: pink;
    &__button__watch{
            background-color: #02ffa1;
            font-size: 1.25rem;
            padding: 0 1.5rem;
            height: 2.5rem;
            user-select: none;
            border: none;
            border-radius: 0.25rem;
            font-weight: 600;
            text-transform: uppercase;
            
            &:hover{
                background-color: #42ffba;
            }
          
            &__link{
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.25rem;
                // background-color: pink;
                
            }
    }
    &__img__bg{
    

    }
    &__img__pstr{
        // position:relative;
        width: 10%;
        // top: 30%;
    }
    &__wrapper__popularity{
        // position: relative;
        display: flex;
        background-color: rgb(14, 13, 13);
         width:100px;
        border-radius: 20px;
        border: 8px solid rgb(95, 95, 95);
        padding: 10px;
        // padding-right: 2px;
    }
    &__wrapper__year{
        background-color: rgb(14, 13, 13);
        padding: 10px;
        border-radius: 20px;
        border: 8px solid rgb(95, 95, 95);
        width:140px;
    }
 }

}
.div__wrapper__genre{
    display:flex;
     margin: 1%;
     width: 90px;
    align-items: flex-start;
    &__h4{
        
        }
    }

/* -- END SINGLEFILMCOMPONENT STYLES -- */
