/* -- START HEADERCOMPONENT STYLES -- */

.about {

    &__h1 {
        margin-top: 0;
    }

    &__ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    &__li {
        width: calc(50% - 1em);
        padding: 0 2em 2em;
        background: whitesmoke;
        color: black;
        box-shadow: 0px 5px 0px #00e08e;
        border-radius: .5em;
    }
}

/* -- END FOOTERCOMPONENT STYLES -- */