/* -- START HEADERCOMPONENT STYLES -- */

.header {
    background-color: #101010;
    color: white;
    
    &-container {
        margin: 0 auto;
        width: 90%;
        padding: 1em 0;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 50px;
    }
}

/* -- END FOOTERCOMPONENT STYLES -- */