/* -- START APP STYLES -- */

.main {
    // background-color: whitesmoke;
    background-color: rgb(23, 22, 22);
    color: white;
    
    &-container {
        margin: 0 auto;
        width: 90%;
        padding: 2em 0;
    }

}

/* -- END APP STYLES -- */